.Header {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    position: fixed;
  }
  
  .Header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .Header nav ul li {
    margin: 0 15px;
  }
  
  .Header nav ul li a {
    color: #fff;
    font-weight: bold;
  }
  